<mat-card class="bg-pure-black text-white py-2 px-2 d-flex project-details" *ngIf="project">
  <div class="d-flex w-100 justify-content-start" [ngClass]="{'flex-column': isMobile}">
    <div class="pl-2 d-flex flex-grow-1"
      [ngClass]="isMobile?'py-2 justify-content-between align-items-center':'flex-column align-items-center'">
      <div><span class="text-white-50 font-weight-bold ">Project Name:</span>

      </div>
      <h6 class="font-weight-bold">{{ project.est_project_name }}</h6>
    </div>
    <div class="pl-2 d-flex flex-grow-1"
      [ngClass]="isMobile?'py-2 justify-content-between align-items-center':'flex-column border-left align-items-center'">
      <span class="text-white-50 font-weight-bold">Domain:</span>
      <h6 class="font-weight-bold">
        {{ project.domainName }}
      </h6>
    </div>
    <div class="pl-2 d-flex flex-grow-1 flex-column justify-content-start" [ngClass]="isMobile?'py-2':'border-left'">
      <div class="d-flex" [ngClass]="isMobile?'justify-content-between align-items-center pb-2':'border-bottom'">
        <span class="text-white-50 font-weight-bold pr-2">Project Lead : </span>
        <h6 class="font-weight-bold">
          {{ " "  +
            project.projectLeadUser
              ? project.projectLeadUser.firstName +
                " " +
                project.projectLeadUser.lastName
              : ""
          }}
        </h6>
      </div>
      <div class="d-flex" [ngClass]="isMobile?'justify-content-between':''">
        <span class="text-white-50 font-weight-bold pr-2">Last Updated:</span>
        <h6 class="font-weight-bold">{{ project.updatedByName }}</h6>
      </div>
    </div>
    <div class="pl-2 d-flex flex-grow-1"
      [ngClass]="isMobile?'py-2 justify-content-between align-items-center':'flex-column border-left align-items-center'">
      <div><span class="text-white-50 font-weight-bold">Estimation Status
          :</span>

      </div>
      <mat-chip-list class="mat-chip-list-wrapper-estimatechip pt-2">
        <mat-chip [ngClass]="getChipClass(project.estmation_status)"> {{ project.estmation_status}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="pl-2 d-flex flex-grow-1 "
      [ngClass]="isMobile?'py-2 justify-content-between align-items-center':'flex-column border-left align-items-center'">
      <div><span class="text-white-50 font-weight-bold">Estimation Cost :</span>
      </div>
      <h6 class="d-flex font-weight-bold">{{utils.currencyFormatter(estCount)}} </h6>
    </div>
  </div>
</mat-card>