<form class="align-self-center pb-5 mb-5 d-flex flex-column w-50" (submit)="forgotPassword()">
  <div class="text-dark">
    <h2>{{"forgot password" | titlecase}}</h2>

  </div>
  <div>
    Enter your email and we’ll send the instructions.
  </div>
  <mat-form-field class="my-3">
    <input matInput placeholder="Email" autofocus cdkFocusInitial [formControl]="email"
      [value]="email.value | lowercase">
    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button [disabled]="!email.valid" type="submit" mat-raised-button color="primary" class="text-white">Submit</button>
  <div class="d-flex flex-row justify-content-center my-2">
    <div> <a routerLink="/login" class="color-ted-green"> Return to Login</a></div>
  </div>
</form>