.h-s-40{
    height: 80vh;
    width: 40vw;
}
.img-fluid{
    width: 100% \9;
}
.h-s-8{
    height: 8vh;
}
.secondary-font {
    font-size: 0.7rem;
}
.mat-success {
    background-color: #fc6818;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .h-s-40{
        height: 90vh;
        width: 90vw;
    }
  }