// .mat-header-cell {
//     font-size: 11pt;
//     font-weight: bold;
//     font-family: Roboto;
//     background-color: #EDEDED;
// }

// td.mat-cell {
//     border-bottom: 0px !important;
// }

// th.mat-header-cell {
//     border-bottom: 0px !important;
// }

// .mat-column-est_project_name {
//     word-wrap: break-word !important;
//     white-space: unset !important;
//     justify-content: center;
//     align-items: center;
//     flex: 0 0 25% !important;
//     width: 25% !important;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
//     word-break: break-word;
// }

// .mat-column-estimation_cost {
//     word-wrap: break-word !important;
//     white-space: unset !important;
//     justify-content: center;
//     align-items: center;
//     flex: 0 0 12% !important;
//     width: 12% !important;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
//     word-break: break-word;
//     // text-align: center;
// }

// .mat-column-project_lead {
//     word-wrap: break-word !important;
//     white-space: unset !important;
//     justify-content: center;
//     align-items: center;
//     flex: 0 0 25% !important;
//     width: 25% !important;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
//     word-break: break-word;
// }

// .mat-column-project_phase {
//     word-wrap: break-word !important;
//     white-space: unset !important;
//     justify-content: center;
//     align-items: center;
//     flex: 0 0 12% !important;
//     width: 12% !important;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
//     word-break: break-word;
//     // text-align: center;
// }

// .mat-column-estmation_status {
//     word-wrap: break-word !important;
//     white-space: unset !important;
//     justify-content: center;
//     align-items: center;
//     flex: 0 0 15% !important;
//     width: 15% !important;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
//     word-break: break-word;
//     // text-align: center;
// }

// .mat-form-field-wrapper {
//     padding-bottom: 0px;
// }