
.handsontable tbody td,
.handsontable tbody th {
//   @apply font-medium font-mono text-gray-90;

  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.handsontable thead th {
  text-align: left;
}

.handsontable td.area-1:before,
.handsontable td.area-2:before,
.handsontable td.area-3:before,
.handsontable td.area-4:before,
.handsontable td.area-5:before,
.handsontable td.area-6:before,
.handsontable td.area-7:before,
.handsontable td.area:before {
//   @apply bg-rms-blue-30;
}

.wtBorder.area {
//   @apply bg-rms-blue !important;
}

.handsontable tbody th.ht__active_highlight,
.handsontable thead th.ht__active_highlight {
//   @apply bg-rms-blue text-white !important;
}

.handsontable tbody th:first-child {
//   @apply bg-white;
}

.handsontable td,
.handsontable th,
.handsontable th:last-child {
//   @apply border-l-0 border-r-0;
}

.handsontable tbody tr th:nth-last-child(2) {
  border-right: 0;
}

.handsontable .htNoFrame + td,
.handsontable .htNoFrame + th,
.handsontable.htRowHeaders thead tr th:nth-child(2),
.handsontable td:first-of-type,
.handsontable th:first-child,
.handsontable th:nth-child(2) {
  border-left: none;
}

.handsontable thead th {
//   @apply bg-gray-10 border-none font-bold text-gray !important;
}

.handsontable tbody td {
//   @apply border-t-0 border-b border-gray-20 !important;
}

.handsontable tbody th.ht__active_highlight,
.handsontable thead th.ht__active_highlight {
//   @apply text-gray-40;
}

.handsontable thead th.ht__highlight {
//   @apply bg-gray;
}

.handsontable thead th .relative {
  padding: 4px 10px;
}

.handsontable td,
.handsontable th {
  padding: 0 10px;
}

.handsontable span.colHeader.columnSorting:before {
//   @apply mt-0 text-medium text-white top-auto !important;

  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  background-image: none !important;
  font-family: 'Material Icons';
  line-height: initial;
}

.handsontable span.colHeader.columnSorting.descending:before {
  content: 'arrow_drop_down' !important;
}

.handsontable span.colHeader.columnSorting.ascending:before {
  content: 'arrow_drop_up' !important;
}

.htAutocompleteArrow {
  display: none;
}