<div class="px-4 py-2 bg-white">
  <dj-project-details></dj-project-details>
  <div *ngIf="mode==='edit' || mode==='new'" class="row buttons-row px-2">
    <button mat-raised-button (click)="addColumn()">
      <mat-icon color="primary">add</mat-icon> Week
    </button>

    <button mat-raised-button (click)="deleteColumn()">
      <mat-icon color="error">delete</mat-icon> Week
    </button>

    <button mat-raised-button (click)="insertRow()">
      <mat-icon color="primary">add</mat-icon> Row
    </button>
    <button mat-raised-button (click)="removeRow()">
      <mat-icon color="error">delete</mat-icon> Row
    </button>
  </div>
  <div *ngIf="mode!=='edit' && mode!=='new'" class="row buttons-row py-2 px-2">

  </div>
  <div *ngIf="data.length > 0 && this.projectDetails">
    <dj-handsontable [settings]="settings" [data]="data" [columns]="columns" 
      (afterChange)="handleAfterChange($event)"
      (beforeOnCellMouseDown)="handleBeforeOnCellMouseDown($event)" 
      (afterCreateRow)="handleAfterCreateRow($event)"
      (beforeOnCellContextMenu)="handleBeforeOnCellContextMenu($event)" 
      (afterRender)="handleAfterRender()"
      (afterColumnSort)="handleAfterColumnSort($event)" 
      (beforeColumnSort)="handleBeforeColumnSort($event)"
      (afterFilter)="handleAfterFilter($event)" 
      (beforeFilter)="handleBeforeFilter($event)"
      (beforeChange)="handleBeforeChange($event)"
      (afterRemoveRow)="handleAfterRemoveRow($event)"
      #hltable>
    </dj-handsontable>
  </div>
  <div class="d-flex justify-content-between py-2">
    <div>
      <button matStepperPrevious color="accent" class="" mat-raised-button>
        Back
      </button>
    </div>
    <div *ngIf="mode==='view' || mode === 'approve'">
      <button matStepperNext color="primary" class="" mat-raised-button>
        Next
      </button>
    </div>
    <div *ngIf="mode==='edit'" class="d-flex justify-content-around">
      <button color="primary" class="" mat-raised-button (click)="save()">
        Save
      </button>
      <button class="ml-2" mat-raised-button color="primary" (click)="save(true)">
        Update & Continue
      </button>
    </div>
    <div *ngIf="mode==='new'" class="d-flex justify-content-around">
      <button color="primary" class="" mat-raised-button (click)="save()">
        Save
      </button>
      <button class="ml-2" mat-raised-button color="primary" (click)="save(true)">
        Save & Continue
      </button>
    </div>
  </div>
</div>