<div class="py-2 px-4 bg-white">
  <dj-project-details></dj-project-details>
  <div class="py-3" *ngIf="data.length > 0">
    <dj-handsontable #detailedTable [settings]="settings" [data]="data" [columns]="columns"
      (afterChange)="handleAfterChange($event)" (beforeOnCellContextMenu)="handleBeforeOnCellContextMenu($event)"
      (afterCreateRow)="handleAfterCreateRow($event)"></dj-handsontable>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <button matStepperPrevious color="accent" class="" mat-raised-button>
        Back
      </button>
    </div>

    <div class="d-flex justify-content-around">
      <div *ngIf="mode==='view' || mode === 'approve'">
        <button matStepperNext color="primary" class="mr-3" mat-raised-button>
          Next
        </button>
      </div>
      <div *ngIf="mode ==='new'" class="d-flex justify-content-around">
        <button matStepperNext color="accent" class="mr-3" mat-raised-button>
          Skip
        </button>
        <button class="" mat-raised-button color="primary" (click)="saveDetailedEstimate()">
          Save & Continue
        </button>
      </div>
      <div *ngIf="mode==='edit'" class="d-flex justify-content-around">
        <button matStepperNext color="accent" class="mr-3" mat-raised-button>
          Skip
        </button>
        <button class="ml-2" mat-raised-button color="primary" (click)="saveDetailedEstimate()">
          Update & Continue
        </button>
      </div>
    </div>
  </div>
</div>