dj-login, dj-forgot-password, dj-reset-password{
    height: 60%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    
}
dj-login form, dj-forgot-password form, dj-reset-password form{
    max-width: 600px;
    
}
// bes-sign-in form, bes-sign-up form, bes-reset-password form, bes-forgot-passsword form, bes-verification-alert form{
//     box-shadow: 5px 5px 10px 10px rgba(100,100,100,0.75);
// padding: 20px;
// }

.auth-bg{
    // background: url('/assets/img/ted_bg_small.png') no-repeat;

    background-position: right bottom;
}