<div class="h-screen w-screen d-flex bg-white">
  <img *ngIf="!isMobile" class="h-screen" src="assets/img/tedbg.png" />
  <div class="bg-white d-flex flex-column flex-grow-1" [ngClass]="{ 'auth-bg': isMobile }">
    <div  class="h-20 d-flex align-items-center justify-content-center ">
      <img *ngIf="isMobile" height="44px" src="assets/img/logo_dark.png" />
    </div>
    <router-outlet ></router-outlet>
    <div class="bd-highlight h-20 d-flex align-items-end justify-content-end">
      
    </div>
  </div>
  
</div>