.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 0px;
  border-radius: 4px;
}

.card-actions {
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.card-title {
  padding: 5px;
}

.btn-align {
  width: 120px !important;
  min-width: unset !important;
}
