<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="card-title">{{cardContent.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <p style="padding:10px;">
      <ng-container [ngTemplateOutlet]="templateRef"></ng-container>
      <ng-content></ng-content>

    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="cardContent.showAction">
    <mat-divider></mat-divider>
    <div class="card-actions">
      <div class="row">
        <div class="offset-md-8 col-md-2">
          <button class="btn btn-default btn-align" style="border:1px solid black;background-color: white;"
            mat-stroked-button mat-dialog-close (click)="clear()">{{cardContent.actionLeft}}</button>
          <!-- <button class="btn-align" mat-raised-button (click)="clear()"
            color="primary">{{cardContent.actionLeft}}</button> -->

        </div>
        <div class="col-md-2">
          <button (click)="save()" class="btn btn-primary btn-align"
            mat-raised-button>{{cardContent.actionRight}}</button>
          <!-- <button autofocus  type="submit" class="btn btn-primary btn-align"
            mat-raised-button>{{ data.actionRight }}</button> -->
        </div>

      </div>


    </div>


  </mat-card-actions>
</mat-card>
