<div class="main-layout p-4">
  <div>
    <h4>Resources, Rates & Domains</h4>
  </div>
  <div class="d-flex flex-column bg-white main-container">
    <form
      [formGroup]="rrdFormgroup"
      class="main-container__custom-from"
      #f="ngForm"
    >
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <mat-form-field class="form-field-style">
            <mat-label>Group</mat-label>
            <mat-select
              formControlName="rrdgroupid"
              [errorStateMatcher]="errorMatcher"
            >
              <mat-option *ngFor="let group of groupNameList" [value]="group">
                {{ group.groupname }}
              </mat-option>
            </mat-select>
            <span matPrefix class="error-astrik">*</span>
            <mat-error
              *ngIf="
                rrdFormgroup.controls['rrdgroupid'].errors &&
                (rrdFormgroup.controls['rrdgroupid'].dirty ||
                  rrdFormgroup.controls['rrdgroupid'].touched)
              "
            >
              <mat-error
                *ngIf="rrdFormgroup.controls['rrdgroupid'].errors.required"
              >
                Group name is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-form-field class="form-field-style">
            <input
              matInput
              placeholder="Others"
              formControlName="groupOthers"
              [errorStateMatcher]="errorMatcher"
            />
            <span
              matPrefix
              class="error-astrik"
              *ngIf="rrdFormgroup.controls['groupOthers'].status !== 'DISABLED'"
              >*</span
            >
            <mat-error
              *ngIf="
                rrdFormgroup.controls['groupOthers'].errors &&
                (rrdFormgroup.controls['groupOthers'].dirty ||
                  rrdFormgroup.controls['groupOthers'].touched)
              "
            >
              <mat-error
                *ngIf="rrdFormgroup.controls['groupOthers'].errors.required"
              >
                Group name is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <mat-form-field class="form-field-style">
            <mat-label>Role</mat-label>
            <mat-select
              formControlName="roleName"
              [errorStateMatcher]="errorMatcher"
            >
              <mat-option *ngFor="let item of roleList" [value]="item">
                {{ item.role }}
              </mat-option>
            </mat-select>
            <span matPrefix class="error-astrik">*</span>
            <mat-error
              *ngIf="
                rrdFormgroup.controls['roleName'].errors &&
                (rrdFormgroup.controls['roleName'].dirty ||
                  rrdFormgroup.controls['roleName'].touched)
              "
            >
              <mat-error
                *ngIf="rrdFormgroup.controls['roleName'].errors.required"
              >
                Role is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-form-field class="form-field-style">
            <input
              matInput
              placeholder="Others"
              formControlName="roleOthers"
              [errorStateMatcher]="errorMatcher"
            />
            <span
              matPrefix
              class="error-astrik"
              *ngIf="rrdFormgroup.controls['roleOthers'].status !== 'DISABLED'"
              >*</span
            >
            <mat-error
              *ngIf="
                rrdFormgroup.controls['roleOthers'].errors &&
                (rrdFormgroup.controls['roleOthers'].dirty ||
                  rrdFormgroup.controls['roleOthers'].touched)
              "
            >
              <mat-error
                *ngIf="rrdFormgroup.controls['roleOthers'].errors.required"
              >
                Role is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <mat-form-field class="form-field-style">
            <mat-label>Resource Role</mat-label>
            <mat-select
              formControlName="resourceid"
              [errorStateMatcher]="errorMatcher"
            >
              <mat-option
                *ngFor="let resourceRole of resourceRoleList"
                [value]="resourceRole.name"
              >
                {{ resourceRole.name }}
              </mat-option>
            </mat-select>
            <span matPrefix class="error-astrik">*</span>
            <mat-error
              *ngIf="
                rrdFormgroup.controls['resourceid'].errors &&
                (rrdFormgroup.controls['resourceid'].dirty ||
                  rrdFormgroup.controls['resourceid'].touched)
              "
            >
              <mat-error
                *ngIf="rrdFormgroup.controls['resourceid'].errors.required"
              >
                Resource Role is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-form-field class="form-field-style">
            <input
              [errorStateMatcher]="errorMatcher"
              type="text"
              placeholder="Others"
              name="resourceOther"
              aria-label="Number"
              matInput
              formControlName="resourcenameOthers"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="ownerFn">
              <mat-option
                *ngFor="let user of userListFilter | async"
                [value]="user"
              >
                {{ user.firstName + " " + user.lastName }}
              </mat-option>
            </mat-autocomplete>
            <span
              matPrefix
              class="error-astrik"
              *ngIf="
                rrdFormgroup.controls['resourcenameOthers'].status !==
                'DISABLED'
              "
              >*</span
            >

            <mat-error
              *ngIf="
                rrdFormgroup.controls['resourcenameOthers'].errors &&
                (rrdFormgroup.controls['resourcenameOthers'].dirty ||
                  rrdFormgroup.controls['resourcenameOthers'].touched)
              "
            >
              <mat-error
                *ngIf="
                  rrdFormgroup.controls['resourcenameOthers'].errors.required
                "
              >
                Resource Role is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
          <span *ngIf="disableBtn" class="text-danger">
            {{ message }}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="form-field-style">
            <input
              djNumbersOnly
              [allowDecimals]="false"
              [allowSign]="false"
              matInput
              placeholder="Cap (%)"
              formControlName="capacity"
              [errorStateMatcher]="errorMatcher"
            />
            <span matPrefix class="error-astrik">*</span>
            <mat-error
              *ngIf="
                rrdFormgroup.controls['capacity'].errors &&
                (rrdFormgroup.controls['capacity'].dirty ||
                  rrdFormgroup.controls['capacity'].touched)
              "
            >
              <mat-error
                *ngIf="rrdFormgroup.controls['capacity'].errors.required"
              >
                Cap is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="form-field-style">
            <mat-label>Resource Type</mat-label>
            <mat-select
              formControlName="resourcetype"
              [errorStateMatcher]="errorMatcher"
            >
              <mat-option
                *ngFor="let resource of resourceTypeList"
                [value]="resource"
              >
                {{ resource }}
              </mat-option>
            </mat-select>
            <span matPrefix class="error-astrik">*</span>
            <mat-error
              *ngIf="
                rrdFormgroup.controls['resourcetype'].errors &&
                (rrdFormgroup.controls['resourcetype'].dirty ||
                  rrdFormgroup.controls['resourcetype'].touched)
              "
            >
              <mat-error
                *ngIf="rrdFormgroup.controls['resourcetype'].errors.required"
              >
                Resource Type is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="form-field-style">
            <input
              [errorStateMatcher]="errorMatcher"
              djNumbersOnly
              [allowDecimals]="true"
              [allowSign]="false"
              matInput
              placeholder="Cost per day ($)"
              formControlName="costperday"
            />
            <span matPrefix class="error-astrik">*</span>
            <mat-error
              *ngIf="
                rrdFormgroup.controls['costperday'].errors &&
                (rrdFormgroup.controls['costperday'].dirty ||
                  rrdFormgroup.controls['costperday'].touched)
              "
            >
              <mat-error
                *ngIf="rrdFormgroup.controls['costperday'].errors.required"
              >
                Cost is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="offset-9 col-3">
          <div class="d-flex justify-content-between row-reverse">
            <div>
              <button color="accent" mat-raised-button (click)="cancel()">
                Cancel
              </button>
            </div>
            <div>
              <button
                [disabled]="!rrdFormgroup.valid || disableBtn"
                *ngIf="!isUpdate"
                (click)="createRrd()"
                mat-raised-button
                color="primary"
              >
                Add
              </button>
              <button
                [disabled]="!rrdFormgroup.valid || disableBtn"
                *ngIf="isUpdate"
                (click)="updateRrd()"
                mat-raised-button
                color="primary"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-12">
        <dj-rrd-table
          (updateEvent)="editRrd($event)"
          (deleteEvent)="deleteRrd($event)"
          [tableDataSource]="tableDataSource"
        ></dj-rrd-table>
      </div>
    </div>
  </div>
</div>
