<div class="main-layout px-2 bg-white">
  <div class="d-flex flex-column main-container" [formGroup]="assumptionformgroup">
    <dj-project-details></dj-project-details>
    <div *ngIf="mode !=='view' && mode !== 'approve'">
      <div class="row pt-2">
        <mat-form-field class="col-md-2 col-sm-12">
          <input matInput [errorStateMatcher]="errorMatcher" formControlName="area" placeholder="Area" />
          <mat-error *ngIf="
          assumptionformgroup.controls['area']
              .errors &&
            (assumptionformgroup.controls['area']
              .dirty ||
              assumptionformgroup.controls['area']
                .touched)
          ">
            <mat-error *ngIf="
            assumptionformgroup.controls['area']
                .errors.required
            ">
              Area is required.
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-5 col-sm-12" appearance="outline">
          <mat-label>Assumption</mat-label>
          <textarea matInput rows="3" [errorStateMatcher]="errorMatcher" formControlName="assumption"></textarea>
          <mat-error *ngIf="
          assumptionformgroup.controls['assumption']
              .errors &&
            ( assumptionformgroup.controls['assumption']
              .dirty ||
              assumptionformgroup.controls['assumption']
                .touched)
          ">
            <mat-error *ngIf="
            assumptionformgroup.controls['assumption']
                .errors.required
            ">
              Assumption is required.
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-5 col-sm-12" appearance="outline">
          <mat-label>Impact</mat-label>
          <textarea matInput rows="3" [errorStateMatcher]="errorMatcher" formControlName="impact"></textarea>
          <mat-error *ngIf="
          assumptionformgroup.controls['impact']
              .errors &&
            ( assumptionformgroup.controls['impact']
              .dirty ||
              assumptionformgroup.controls['impact']
                .touched)
          ">
            <mat-error *ngIf="
            assumptionformgroup.controls['impact']
                .errors.required
            ">
              Impact is required.
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end mr-2">
        <button (click)="cancel()" class="btn btn-outline-primary mr-5" mat-raised-button color="accent">
          Cancel
        </button>
        <button (click)="addDocuments()" mat-raised-button color="primary" [disabled]="!assumptionformgroup.valid">
          {{editflag?"Update":"Add"}}
        </button>
      </div>
    </div>
    <br />
    <div class="table-container pt-0">
      <table class="w-100" mat-table [dataSource]="dataSource">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ columnHeaders[i] }}
          </th>
          <td mat-cell *matCellDef="let element; let j = index">
            <span *ngIf="column !== 'actions'">{{ element[column] }}</span>
            <span class="action-items" *ngIf="
                column === 'actions' &&
                element['estmation_status'] !== 'Completed'
              ">
              <mat-icon (click)="editUsers(element, j)">edit</mat-icon>
              <mat-icon (click)="openDialog(element, j)">delete</mat-icon>
            </span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr (mouseover)="row.actions = true" (mouseout)="row.actions = false" mat-row
          *matRowDef="let row; let odd = odd; columns: displayedColumns" [ngClass]="{ 'bg-ted-light-grey-table': odd }">
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <div class="d-flex justify-content-between">
      <button mat-raised-button color="accent" (click)=" back()">Back</button>
      <div class="d-flex justify-content-end">


        <div *ngIf="mode==='view' || mode === 'approve'">
          <button matStepperNext color="primary" class="mr-3" mat-raised-button>
            Next
          </button>
        </div>
        <div *ngIf="mode==='new'" class="d-flex justify-content-around">
          <button (click)="skip()" class="btn btn-outline-primary mr-3" mat-raised-button color="accent">
            Skip
          </button>
          <button [disabled]="!Datas.length" mat-raised-button color="primary" (click)="continue()">

            Save & Continue
          </button>

        </div>
        <div *ngIf="mode==='edit'" class="d-flex justify-content-around">
          <button (click)="skip()" class="btn btn-outline-primary mr-3" mat-raised-button color="accent">
            Skip
          </button>
          <button class="ml-2" mat-raised-button color="primary" (click)="continue()">
            Update & Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>