<div class="mx-3">
  <mat-slide-toggle (change)="compareAdd($event)" class="m-2" color="primary">Compare</mat-slide-toggle>
  <dj-date-filter></dj-date-filter>
  <div *ngIf="compareList.length === 0">
    <button mat-raised-button (click)="compare()" color="primary" class="text-white">
      Filter
    </button>
  </div>
  <div class="d-flex flex-column" *ngIf="compareList.length>0">
    <div *ngFor="let compare of compareList; let i =index;" class="d-flex justify-content-start align-items-center">
      <dj-date-filter></dj-date-filter>
      <mat-icon class="mx-4" *ngIf="!compare.isAdd" color="warn" (click)="removeFilter(i)">close</mat-icon>
      <mat-icon class="mx-4" *ngIf="compare.isAdd" color="primary" (click)="addFilter(i)">add</mat-icon>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <button mat-raised-button (click)="compare()" color="accent">
        Cancel
      </button>
      <button mat-raised-button (click)="compare()" color="primary" class="text-white">
        Compare
      </button>
    </div>
  </div>
</div>