<div class="offset-3 col-5">
  <div class="d-flex align-items-center flex-column" style="margin-top:80%;">
    <h1>Success!</h1>
    <span class="your-password-has-be"
      >A password reset link has been sent to your email</span
    >
    <button
      class="btn btn-primary btn-lg btn-block text-white mt-3"
      (click)="submit()"
    >
      Login
    </button>
  </div>
</div>
