<h2 mat-dialog-title>{{actions[2]}}</h2>
<p *ngIf="actions[3]">{{actions[3]}}</p>
<mat-dialog-actions class="d-flex p-0 justify-content-center m-0">
  <button class="mat-raised-button mat-primary order-2" (click)="cancel()">{{actions[0]}}</button>
  <button class="mat-raised-button order-3" (click)="delete()">{{actions[1]}}</button>
  <button *ngIf="actions[4]" class="mat-raised-button order-1 mr-2" color="accent" (click)="sendNull()">{{actions[4]}}</button>
</mat-dialog-actions>