.h-s-40{
    height: 80vh;
    width: 30vw;
}
.img-fluid{
    width: 100% \9;
}
.h-s-8{
    height: 8vh;
}
.secondary-font {
    font-size: 0.7rem;
}
.mat-success {
    background-color: #fc6818;
    color: #fff;
}


@media only screen and (max-width: 768px) {
    form{
        min-width: 80%;
    }
  }