<form class="d-flex flex-column justify-content-start" [formGroup]="userForm" (submit)="signin(userForm.value)">
    <div class="text-dark mx-5">
        <h2>Welcome to IT Project Delivery Estimates!</h2>
    </div>

    <mat-form-field class="my-3 mx-5">
        <input matInput placeholder="Email" cdkFocusInitial autofocus formControlName="email"
            [value]="userForm.get('email').value | lowercase">
        <mat-error *ngIf="userForm.get('email').hasError('email') && !userForm.get('email').hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="userForm.get('email').hasError('required')">
            Email is required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="mx-5">
        <input matInput type="password" placeholder="Password" [type]="hide ? 'password' : 'text'"
            formControlName="password">
        <mat-icon matSuffix color="primary" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="userForm.get('password').hasError('required')">
            Password is <strong> required </strong>
        </mat-error>
        <mat-error *ngIf="userForm.get('password').hasError('minlength')">
            Password cannot be less than <strong> 8 characters </strong>
        </mat-error>
    </mat-form-field>

    <button [disabled]="!userForm.valid" type="submit" mat-raised-button color="primary"
        class="text-white mx-5">Login</button>
    <!-- <div class="d-flex flex-row justify-content-center my-3">
        <mat-slide-toggle color="primary">Remember me</mat-slide-toggle>
        <div> <a routerLink="/forgotpassword" class="color-ted-green">Forgot Password?</a></div>
    </div> -->
    <!-- <button type="button" mat-raised-button class="my-3 color-ted-green" (click)='signUpPage()'>Sign up</button> -->
</form>