<div class="main-layout">
  <div class="main-container">
    <form [formGroup]="initialEstimateFormGroup">
      <div class="col-12 pr-3">
        <div class="d-flex">
          <h6 class="p-0">Project Details</h6>
        </div>
        <div class="row">
          <mat-form-field class="form-field-align col-md-4 col-sm-12">
            <mat-label>Domain</mat-label>
            <mat-select formControlName="domainid" [errorStateMatcher]="errorMatcher">
              <mat-option *ngFor="let domain of domainsList" [value]="domain.id">
                {{ domain.name }}
              </mat-option>
            </mat-select>
            <span matPrefix class="error-astrik" *ngIf="
                initialEstimateFormGroup.controls['domainid'].status !==
                'DISABLED'
              ">*</span>
            <mat-error *ngIf="
                initialEstimateFormGroup.controls['domainid'].errors &&
                (initialEstimateFormGroup.controls['domainid'].dirty ||
                  initialEstimateFormGroup.controls['domainid'].touched)
              ">
              <mat-error *ngIf="
                  initialEstimateFormGroup.controls['domainid'].errors
                    .required
                ">
                Domain name is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field-align col-md-4 col-sm-12">
            <input matInput placeholder="Project Name" formControlName="est_project_name"
              [errorStateMatcher]="errorMatcher" />
            <span matPrefix class="error-astrik" *ngIf="
                initialEstimateFormGroup.controls['est_project_name']
                  .status !== 'DISABLED'
              ">*</span>
            <mat-error *ngIf="
                initialEstimateFormGroup.controls['est_project_name']
                  .errors &&
                (initialEstimateFormGroup.controls['est_project_name']
                  .dirty ||
                  initialEstimateFormGroup.controls['est_project_name']
                    .touched)
              ">
              <mat-error *ngIf="
                  initialEstimateFormGroup.controls['est_project_name']
                    .errors.required
                ">
                Project name is required.
              </mat-error>
            </mat-error>
          </mat-form-field>
          <div class="col-md-4 col-sm-12">
            <mat-form-field class="form-field-align w-100">
              <input type="text" placeholder="Project Lead" name="projectLead" aria-label="Number" matInput
                formControlName="project_lead" [errorStateMatcher]="errorMatcher" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="ownerFn">
                <mat-option *ngFor="let user of userListFilter | async" [value]="user">
                  {{ user.firstName + " " + user.lastName }}
                </mat-option>
              </mat-autocomplete>
              <span matPrefix class="error-astrik" *ngIf="
                  initialEstimateFormGroup.controls['project_lead'].status !==
                  'DISABLED'
                ">*</span>
              <mat-error *ngIf="
                  initialEstimateFormGroup.controls['project_lead'].errors &&
                  (initialEstimateFormGroup.controls['project_lead'].dirty ||
                    initialEstimateFormGroup.controls['project_lead'].touched)
                ">
                <mat-error *ngIf="
                    initialEstimateFormGroup.controls['project_lead'].errors
                      .required
                  ">
                  Project Lead is required.
                </mat-error>
              </mat-error>
            </mat-form-field>
            <div *ngIf="disableBtn" class="text-danger">
              {{ message }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <mat-form-field class="form-field-align w-100">
              <input matInput djNumbersOnly [allowDecimals]="false" [allowSign]="false"
                placeholder="Project Duration (In Weeks)" formControlName="durationInWeek"
                [errorStateMatcher]="errorMatcher" />
              <span matPrefix class="error-astrik" *ngIf="
                  initialEstimateFormGroup.controls['durationInWeek']
                    .status !== 'DISABLED'
                ">*</span>
              <mat-error *ngIf="
                  initialEstimateFormGroup.controls['durationInWeek']
                    .errors &&
                  (initialEstimateFormGroup.controls['durationInWeek']
                    .dirty ||
                    initialEstimateFormGroup.controls['durationInWeek']
                      .touched)
                ">
                <mat-error *ngIf="
                    initialEstimateFormGroup.controls['durationInWeek'].errors
                      .required
                  ">
                  Duration is required.
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="col-md-4 col-sm-12">
            <mat-form-field class="form-field-align w-100">
              <mat-label>Project Status</mat-label>
              <mat-select formControlName="project_phase" [errorStateMatcher]="errorMatcher">
                <mat-option *ngFor="let project of ProjectStatusList" [value]="project">
                  {{ project.name }}
                </mat-option>
              </mat-select>
              <span matPrefix class="error-astrik" *ngIf="
                  initialEstimateFormGroup.controls['project_phase']
                    .status !== 'DISABLED'
                ">*</span>
              <mat-error *ngIf="
                  initialEstimateFormGroup.controls['project_phase'].errors &&
                  (initialEstimateFormGroup.controls['project_phase'].dirty ||
                    initialEstimateFormGroup.controls['project_phase']
                      .touched)
                ">
                <mat-error *ngIf="
                    initialEstimateFormGroup.controls['project_phase'].errors
                      .required
                  ">
                  Project Status is required.
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-12">
            <mat-form-field class="form-field-align w-100">
              <input matInput placeholder="Others" formControlName="projectStatusOthers"
                [errorStateMatcher]="errorMatcher" />
              <span matPrefix class="error-astrik" *ngIf="
                  initialEstimateFormGroup.controls['projectStatusOthers']
                    .status !== 'DISABLED'
                ">*</span>
              <mat-error *ngIf="
                  initialEstimateFormGroup.controls['projectStatusOthers']
                    .errors &&
                  (initialEstimateFormGroup.controls['projectStatusOthers']
                    .dirty ||
                    initialEstimateFormGroup.controls['projectStatusOthers']
                      .touched)
                ">
                <mat-error *ngIf="
                    initialEstimateFormGroup.controls['projectStatusOthers']
                      .errors.required
                  ">
                  Project Status is required.
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex">
          <h6 class="p-0 m-0">Reference Documents</h6>
        </div>
        <div formGroupName="estimationDocuments" *ngIf="mode !=='view' && mode !== 'approve'">
          <div class="row">
            <div class=" col-md-4 col-sm-12">
              <mat-form-field class="form-field-align w-100">
                <input matInput placeholder="Document Title" formControlName="doc_title" />
              </mat-form-field>
            </div>
            <div class="col-md-3 col-sm-12">
              <mat-form-field class="form-field-align w-100">
                <input matInput placeholder="Version" formControlName="doc_version" />
              </mat-form-field>
            </div>
            <div class="col-md-3 col-sm-12">
              <mat-form-field class="form-field-align w-100">
                <input matInput placeholder="Document Location" formControlName="doc_location" />
              </mat-form-field>
            </div>
            <div class="col-md-2 col-sm-12">
              <button mat-raised-button color="primary" class=" my-2 float-right" *ngIf="!isDocumentUpdate"
                (click)="addDocuments()" [disabled]="documentDisabled">
                Add
              </button>
  
              <button mat-raised-button color="primary" class=" my-2 float-right" *ngIf="isDocumentUpdate"
                (click)="updateDocuments()" [disabled]="documentDisabled">
                Update
              </button>
            </div>
          </div>
          <div class="row"></div>
        </div>
      </div>
  
      <div class="table-container mt-2">
        <table class="w-100" mat-table [dataSource]="dataSource">
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ columnHeaders[i] }}
            </th>
            <td mat-cell *matCellDef="let element; let x = index">
              <span *ngIf="column !== 'actions'">{{ element[column] }}</span>
              <span class="action-items" *ngIf="
                  column === 'actions' && (mode ==='edit'|| mode ==='new')
                ">
                <!-- <mat-icon>filter_none</mat-icon> -->
                <mat-icon (click)="editDocument(element, x)">edit</mat-icon>
                <mat-icon (click)="deleteDocument(element, x)">delete</mat-icon>
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr (mouseover)="row.actions = true" (mouseout)="row.actions = false" mat-row
            *matRowDef="let row; let odd = odd; columns: displayedColumns"
            [ngClass]="{ 'bg-ted-light-grey-table': odd }"></tr>
        </table>
  
        
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      <div class="d-flex justify-content-between">
        <button mat-raised-button color="accent" (click)="cancel()">
          Cancel
        </button>
        <button *ngIf="mode==='new'" mat-raised-button color="primary" (click)="saveEstimate()" [disabled]="
            !initialEstimateFormGroup.valid || disableBtn || !documentDisabled
          ">
          Save & Continue
        </button>
        <button *ngIf="mode==='edit'" mat-raised-button color="primary" (click)="updateEstimate()" [disabled]="
            !initialEstimateFormGroup.valid || disableBtn || !documentDisabled
          ">
          Update & Continue
        </button>
        <button *ngIf="mode==='view' || mode === 'approve'" mat-raised-button color="primary" matStepperNext
          [disabled]="
            !initialEstimateFormGroup.valid || disableBtn || !documentDisabled
          ">
          Next
        </button>
      </div>
    </form>
  </div>
  
</div>