<div class="content bg-ted-light-grey custom-stepper">
  <mat-horizontal-stepper
    [linear]="isLinear"
    labelPosition="bottom"
    class="w-100 bg-gray"
    #stepper
  >
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done" let-index="index">
      <mat-icon>edit</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="number" let-index="index">
      <mat-icon>edit</mat-icon>
    </ng-template>
    <mat-step [stepControl]="stepOne ? stepOne.initialEstimateFormGroup : null">
      <ng-template matStepLabel
        ><span matTooltip="Initiate Estimate"
          >Initiate Estimate</span
        ></ng-template
      >
      <dj-initiate-estimate
        (djStepNext)="djStepNext()"
        #stepOne
        *ngIf="stepper.selectedIndex === 0"
        [mode] = "mode"
      >
      </dj-initiate-estimate>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel
        ><span matTooltip="HL Timelines & Resources"
          >HL Timelines & Resources</span
        >
      </ng-template>
      <dj-hl-timelines-resources
        (djStepNext)="djStepNext()"
        *ngIf="stepper.selectedIndex === 1"
        [mode] = "mode"
      >
      </dj-hl-timelines-resources>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel
        ><span matTooltip="Detailed Estimates"
          >Detailed Estimates</span
        ></ng-template
      >
      <dj-detailed-estimates
        (djStepNext)="djStepNext()"
        *ngIf="stepper.selectedIndex === 2"
        [mode] = "mode"
      ></dj-detailed-estimates>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel
        ><span matTooltip="Test Scope">Test Scope</span></ng-template
      >
      <dj-test-scope
        *ngIf="stepper.selectedIndex === 3"
        (djStepNext)="djStepNext()"
        [mode] = "mode"
      ></dj-test-scope>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel
        ><span matTooltip="Assumptions">Assumptions</span></ng-template
      >
      <dj-assumptions
        (djStepNext)="djStepNext()"
        (next)="continue($event)"
        *ngIf="stepper.selectedIndex === 4"
        [mode] = "mode"
      >
      </dj-assumptions>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel
        ><span matTooltip="Summary">Summary</span></ng-template
      >
      <dj-summary
        (next)="continue($event)"
        *ngIf="stepper.selectedIndex === 5"
        [mode] = "mode"
      ></dj-summary>
    </mat-step>
  </mat-horizontal-stepper>
</div>
