<div class="row">
  <mat-form-field appearance="legacy">
    <mat-label>Select Date Range</mat-label>
    <input matInput placeholder="Placeholder" [(ngModel)]="range" (focus)="openStartDatepicker()">
    <mat-icon matSuffix (click)="openStartDatepicker()">sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <div>
    <mat-form-field class="invisible w-0">
      <input matInput [(ngModel)]="startdate" [max]="today" [matDatepicker]="pickerStart" (dateChange)="openEndDatepicker()"
        placeholder="From date">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart color="pimary" panelClass="dropdown-calender-start"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="invisible w-0">
      <input matInput [(ngModel)]="enddate" [min]="startdate" [max]="today" [matDatepicker]="pickerEnd" placeholder="To date">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd color="pimary" panelClass="dropdown-calender-end"></mat-datepicker>
    </mat-form-field>
  </div>
</div>