<div class="px-2 px-2 bg-white main-layout" #summaryImage>
  <div class="d-flex flex-column bg-white main-container">
    <dj-project-details></dj-project-details>
    <div class="row py-2 bg-white">
      <div class="col-lg-7 col-md-12 col-sm-12 bg-white">
        <div class="estimate-summary-card bg-white">
          <h6>Estimate Summary</h6>
          <dj-handsontable class="w-100" [settings]="settings" [data]="handsonArray" [columns]="columns"
            (afterChange)="handleAfterChange($event)" (afterColumnSort)="handleAfterColumnSort($event)"
            (beforeColumnSort)="handleBeforeColumnSort($event)" #hltable></dj-handsontable>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="estimate-summary-card bg-white">
          <h6>Summary Breakup</h6>
          <!-- <img src="assets/img/summary.PNG" style="height: 250px;width: 400px;"> -->
          <div class="bg-white d-flex justify-content-end">
            <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="setChartType('bar')">
              <span>Bar</span>
            </button>
            <button mat-menu-item (click)="setChartType('pie')">
              <span>Pie</span>
            </button>
          </mat-menu>
          <div>
            <canvas id="canvas"></canvas>
          </div>

        </div>
      </div>
    </div>
    <div>
      <h6>Approvals</h6>
    </div>
    <form [formGroup]="approverForm" data-html2canvas-ignore="true" *ngIf="mode!=='view' && mode !== 'approve'">
      <div class="row">
        <div class="col-5">
          <mat-form-field class="w-100">
            <mat-label>Group</mat-label>
            <mat-select formControlName="aprroveGroup">
              <mat-option value="Test Approver">Test Approver</mat-option>
              <mat-option value="Overall Approver">Overall Approver</mat-option>
              <mat-option value="Other Approver">Other Approver</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-5">
          <mat-form-field class="w-100">
            <mat-label>Approver</mat-label>
            <mat-select formControlName="approveUser">
              <mat-option *ngFor="let user of approveUserList" [value]="user">
                {{ user.firstName }} {{ user.lastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <button [disabled]="!approverForm.valid || approversAddLimit" (click)="addApprovers()"
            class=" my-2 float-right" mat-raised-button color="accent">
            Add
          </button>
        </div>
      </div>
    </form>
    <!-- <div class="text-danger text-center" *ngIf="approversAddLimit && mode!=='view' && mode !== 'approve'"
      data-html2canvas-ignore="true">
      <h6>
        Maximum number of Approvers exceeded can not add more Approvers.
      </h6>
    </div> -->

    <div class="w-100 pb-4 bg-white">
      <div class="bg-white table-container">
        <table class="w-100 bg-white" mat-table [dataSource]="approversDataSource">
          <ng-container [matColumnDef]="column" *ngFor="let column of matDisplayColumns; let i = index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ matColumnHeaders[i] }}
            </th>
            <td mat-cell *matCellDef="let element; let j = index">
              <span>
                <div class="d-flex justify-content-between">
                  <span *ngIf="
                      column !== 'updateddate' ||
                      currentUser.id !== element.approverid ||
                      element.status !== 'Pending'
                    ">
                    {{ element[column] }}
                  </span>
                </div>
              </span>
              <span class="action-items" *ngIf="
                  column === 'updateddate' &&
                  (currentUser.id === element.approverid ||
                    currentUser.role === 'Admin') &&
                  element.status === 'Pending'
                ">
                <div *ngIf="!viewMode">
                  <mat-icon color="primary" (click)="approveSummary(j, 'Approved')" matTooltip="Approve">check
                  </mat-icon>

                  <mat-icon (click)="rejectSummary(j, 'draft')" matTooltip="Rework">refresh</mat-icon>
                </div>
                <div *ngIf="viewMode">
                  {{ element[column] }}
                </div>
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="matDisplayColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; let odd = odd; columns: matDisplayColumns"
            [ngClass]="{ 'bg-ted-light-grey-table': odd }"></tr>
        </table>
      </div>
    </div>
    <div data-html2canvas-ignore="true" class="d-flex justify-content-between pb-4">
      <button (click)="back()" mat-raised-button color="accent">Back</button>
      <div class="d-flex justify-content-end" *ngIf="mode !=='view' && mode !== 'approve'">
        <button [disabled]="viewMode" (click)="saveSummary(false)" class="btn btn-outline-primary mr-5"
          mat-raised-button color="accent">
          Save & Exit
        </button>
        <button [disabled]="viewMode || submitBtnStatus" (click)="submit(true)" mat-raised-button color="primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>