<div class="bg-white d-flex flex-column">
    <div class="d-flex justify-content-between">
        <mat-form-field appearance="outline" class="col-md-3 table-search col-sm-12">
            <mat-label>Search</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"  [formControl]="searchFormControl" />
            <mat-icon matSuffix (click)="clearSearch()">close</mat-icon>
        </mat-form-field>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ columnHeaders[i] }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="column !== 'actions'">{{ element[column] }}</span>

                    <span class="action-items" *ngIf="column === 'actions'">
                        <!-- <mat-icon>filter_none</mat-icon> -->
                        <mat-icon (click)="updateRrd(element)">edit</mat-icon>
                        <mat-icon (click)="deleteRrd(element)">delete</mat-icon>
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr
                (mouseover)="row.actions = true"
                (mouseout)="row.actions = false"
                mat-row
                *matRowDef="let row; let odd = odd; columns: displayedColumns"
                [ngClass]="{'bg-ted-light-grey-table': odd}"
            ></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
