<h2 mat-dialog-title>{{actions[2]}}</h2>
<p>{{actions[3]}}</p>
<mat-dialog-actions class="d-flex p-0 justify-content-center m-0">
  <button class="mat-raised-button mat-primary " (click)="cancel()">{{actions[0]}}</button>
  <button class="mat-raised-button" (click)="delete()">{{actions[1]}}</button>
</mat-dialog-actions>