<div class="main-layout" class="p-4">
  <div>
    <h4>My Approvals</h4>
  </div>
  <div class="d-flex flex-column bg-white main-container">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-between">
        <mat-form-field appearance="outline" class="col-md-3 table-search col-sm-12">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="applyFilter($event.target.value)" [formControl]="searchFormControl"
            placeholder="Search" />
          <mat-icon matSuffix (click)="clearSearch()">close</mat-icon>
        </mat-form-field>
      </div>
      <div class="table-container">
        <table class="w-100 estimates-table" mat-table [dataSource]="dataSource" matSort>
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ columnHeaders[i] }}
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="
                  column !== 'actions' &&
                  column !== 'est_project_name' &&
                  column !== 'estmation_status'
                ">{{ element[column] }}</span>
              <span *ngIf="column === 'estmation_status'">
                <mat-chip-list class="mat-chip-list-wrapper-estimatechip">
                  <mat-chip [ngClass]="getChipClass(element[column])">
                    {{ element[column] }}</mat-chip>
                </mat-chip-list>
              </span>
              <span *ngIf="
                  column === 'actions' &&
                  element['estmation_status'] === 'Completed'
                ">
                <mat-icon>content_copy</mat-icon>
              </span>
              <span *ngIf="column === 'est_project_name'">
                <a fxFlexFill style="color:blue;cursor: pointer;" (click)="navMode(element, 'view')"
                  class="mat-row-link">
                  {{ element[column] }}</a>
              </span>
              <span *ngIf="column === 'actions'">
                <div class="d-flex justify-content-between launch-btn">
                  <button (click)="navMode(element, 'approve')" mat-icon-button color="primary">
                    <mat-icon>launch</mat-icon>
                  </button>
                </div>
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr (mouseover)="row.actions = true" (mouseout)="row.actions = false" mat-row
            *matRowDef="let row; let odd = odd; columns: displayedColumns;"
            [ngClass]="{ 'bg-ted-light-grey-table': odd }"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>