/* You can add global styles to this file, and also import other style files */
@import "~handsontable/dist/handsontable.full.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/styles/extended.bootstrap.scss";
@import "assets/styles/material-themes/ted-default.scss";

* {
  font-family: "Roboto", sans-serif !important;
  box-sizing: border-box;
}

.bg-ted-green-table {
  background: #edf7ed !important;
}

.bg-ted-green {
  background: $primary !important;
}

.bg-ted-light-grey {
  background: #eceff1;
}

.bg-ted-light-grey-table {
  background: #f7f7f7 !important;
}

body {
  font-size: 14px;
  line-height: normal;
  overflow-y: hidden;
}

.text-40 {
  font-size: 20px;
}

.h-screen {
  height: 100vh;
}

.h-20 {
  height: 20%;
}

.w-screen {
  width: 100vw;
}

.w-0 {
  width: 0;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.ws-30 {
  width: 30vw;
}

.ws-18 {
  width: 18vw;
}

.ws-20 {
  width: 20vw;
}

.ws-25 {
  width: 25vw;
}

.ws-40 {
  width: 50vw;
}

.ws-50 {
  width: 50vw;
}

.ws-60 {
  width: 60vw;
}

.ws-80 {
  width: 80vw;
}

.w-40 {
  width: 40%;
}

.hs-10 {
  height: 10vh;
}

.hs-15 {
  height: 15vh;
}

.hs-20 {
  height: 20vh;
}

.hs-25 {
  height: 25vh;
}

.hs-30 {
  height: 30vh;
}

.hs-40 {
  height: 40vh;
}

.hs-50 {
  height: 50vh;
}

.hs-60 {
  height: 60vh;
}

.hs-80 {
  height: 80vh;
}

.hs-85 {
  height: 85vh;
}

.hs-90 {
  height: 85vh;
}

button,
mat-button,
mat-icon {
  cursor: pointer !important;
}

.material-icons {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
  font-family: "Material Icons" !important;
}

.primary-icon {
  font-size: 4rem !important;
  color: $primary;
  width: 4rem !important;
  height: 4rem !important;
}

.expansionActive .mat-expansion-panel-header {
  color: $primary !important;
}

.chart-tooltip {
  background: #81c784 !important;
  font-size: 9pt !important;
}

// text-color
.mat-nav-list .active {
  color: $primary !important;
}

.mat-menu-item:hover {
  // background: #66bb6a !important;
  background: $primary !important;
  color: white;
}

.mat-nav-list:hover {
  // background: #66bb6a !important;
  color: black !important;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.scrolling-auto {
  -webkit-overflow-scrolling: auto;
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-card-header-text {
  display: none;
}

.material-icons {
  opacity: 0.8 !important;
}

.mat-list-base .mat-list-item {
  font-size: 15px;
}

.line-height-22 {
  line-height: 22px;
}

.line-height-24 {
  line-height: 24px;
}

.search .mat-form-field-wrapper {
  margin-left: 24px !important;
}

.mat-list-base {
  padding: 0px !important;
}

dj-header-component {
  height: 50px;
}

dj-footer-component,
.footer {
  height: 30px;
}

.mat-sidenav-content,
.mat-sidenav-container,
.mat-sidenav,
.content {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: calc(100vh - 80px) !important;
}

dj-my-estimates,
dj-my-reviews,
dj-my-approvals {


  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }

  .mat-chip-list-wrapper-estimatechip {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 1px;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }

  input.mat-input-element {
    margin-top: 0.4em !important;
  }

  .mat-chip {
    width: 90px;
    justify-content: center;
    // background:  blue !important;
    // color: $light-text !important;
  }
}

dj-rrd-table {
  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }

  input.mat-input-element {
    margin-top: 0.4em !important;
  }

  .action-button {
    line-height: 30px !important;
  }

  thead .mat-column-actions .mat-sort-header-container {
    justify-content: center !important;
  }

  .mat-column-resourceTypeRole {
    word-wrap: break-word !important;
    white-space: unset !important;
    justify-content: center;
    align-items: center;
    flex: 0 0 20% !important;
    width: 20% !important;
    min-width: 120px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .mat-column-capacity {
    word-wrap: break-word !important;
    white-space: unset !important;
    //display: flex;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    min-width: 70px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
  }

  .mat-column-resourcetype {
    word-wrap: break-word !important;
    white-space: unset !important;
    justify-content: flex;
    align-items: center;
    flex: 0 0 15% !important;
    width: 15% !important;
    min-width: 70px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .mat-column-groupName {
    word-wrap: break-word !important;
    white-space: unset !important;
    justify-content: center;
    align-items: center;
    flex: 0 0 15% !important;
    width: 15% !important;
    min-width: 120px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .mat-column-rscRole {
    word-wrap: break-word !important;
    white-space: unset !important;
    justify-content: center;
    align-items: center;
    flex: 0 0 15% !important;
    width: 15% !important;
    min-width: 120px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .mat-column-costperday {
    word-wrap: break-word !important;
    white-space: unset !important;
    //display: flex;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    min-width: 70px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
  }

  .mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    justify-content: center;
    align-items: center;
    flex: 0 0 15% !important;
    width: 15% !important;
    min-width: 70px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
}

dj-summary {
  th.mat-header-cell.mat-column-actions {
    text-align: center !important;
    justify-content: center !important;
  }

  .mat-column-Group {
    word-wrap: break-word !important;
    white-space: unset !important;
    justify-content: center;
    align-items: center;
    flex: 0 0 20% !important;
    width: 20% !important;
    min-width: 120px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
  }

  .mat-column-Approver {
    word-wrap: break-word !important;
    white-space: unset !important;
    justify-content: center;
    align-items: center;
    flex: 0 0 20% !important;
    width: 20% !important;
    min-width: 120px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
  }

  .mat-column-Reviewed_On {
    word-wrap: break-word !important;
    white-space: unset !important;
    justify-content: center;
    align-items: center;
    flex: 0 0 20% !important;
    width: 20% !important;
    min-width: 100px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
  }

  .mat-column-Sign_Off {
    word-wrap: break-word !important;
    white-space: unset !important;
    justify-content: center;
    align-items: center;
    flex: 0 0 25% !important;
    width: 25% !important;
    min-width: 80px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
  }

  .mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    justify-content: left;
    align-items: left;
    flex: 0 0 10% !important;
    width: 10% !important;
    min-width: 40px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
  }
}

// table global styles
.table-container {
  overflow-x: scroll;
  -webkit-box-shadow: 5px 5px 7px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 7px -1px rgba(0, 0, 0, 0.75);
}

// .mat-header-cell {
//   font-size: 14pt;
//   font-weight: bold;
//   font-family: Roboto;
//   background-color: #ededed;
// }
td.mat-cell {
  border-bottom: 0px !important;
  font-size: 12 !important;
}

th.mat-header-cell {
  border-bottom: 0px !important;
  text-align: left !important;
  justify-content: center;
  color: black !important;
}

.mat-sort-header-container {
  text-align: left !important;
  // justify-content: center;
}

.mat-header-row {
  height: 40px !important;
}

.mat-row {
  height: 36px !important;
}

mat-horizontal-stepper {
  background: transparent !important;
}



.required:after {
  content: " *";
  color: red !important;
}

.error-astrik {
  color: red;
  padding-right: 2px;
}

// .mat-form-field input{
//   letter-spacing: 1.0px !important;
// }

// new css //
.top-header {
  h4 {
    font-size: 14px;
    padding-top: 10px;
  }
}

.mat-sidenav {
  .mat-divider-horizontal {
    border-top-color: #ffffff;
  }

  .mat-list-base {
    .mat-list-item {
      height: auto;
      color: #9da09d;
      transition: all 0.3s ease;
      border-left: 7px #ffffff solid;

      &:hover {
        background-color: #edf8f1;
        border-left: 7px $primary solid;
      }
    }
  }

  .mat-nav-list {
    .active {
      background-color: #edf8f1;
      border-left: 7px $primary solid;

      mat-icon {
        color: $primary !important;
      }
    }
  }

  .mat-list-item-content {
    padding: 20px 8px !important;

    .mat-icon {}

    span {
      font-size: 14px;
    }
  }
}


.mat-toolbar {
  background-color: #f8f9fa !important;

  h4 {
    font-size: 18px;
  }
}

.main-layout {
  // padding: 15px;
}

.main-container {
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
  //   0 2px 1px -1px rgba(0, 0, 0, 0.12);
  // border-radius: 3px;
  padding: 10px;
  background-color: #ffffff;

  .create-estimate {
    margin-top: 0 !important;
  }

  h4 {
    font-size: 18px;
  }



  .table-container {
    box-shadow: none !important;
    overflow: auto !important;
    margin-top: 5px !important;

    table {
      .mat-header-cell {
        background-color: #ededed !important;
        font-size: 14px !important;
        padding: 10px !important;
        font-weight: bold;

        &:nth-child(3) {
          .mat-sort-header-container {
            min-width: 100px;
            justify-content: center;
          }
        }
      }

      td {
        font-size: 12px;
        padding: 10px;

        word-wrap: break-word;
        max-width: 400px;

        .action-items {
          .mat-icon-no-color {
            font-size: 16px !important;
            text-align: center;
            line-height: 25px;
            margin: 2px;

            &:hover {
              color: primary;
            }
          }
        }

        &:nth-child(3) {
          text-align: inherit;
        }

        .mat-chip {
          //  background-color: transparent !important;
        }
      }
    }

    .usee-security-table {
      width: 100%;
    }
  }

  &__custom-from {
    .form-field-style {
      .mat-form-field-wrapper {
        margin-bottom: 10px;
      }

      .mat-form-field-flex {
        padding: 0 10px;
      }
    }
  }
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 100px);
}

.mat-horizontal-stepper-header {
  width: 16.66%;
}

.custom-stepper {
  .mat-stepper-label-position-bottom {
    .mat-horizontal-stepper-header-container {
      padding: 0 15vw;
    }
  }

  mat-step-header {
    padding: 8px 20px !important;
  }

  .complete {
    // position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    opacity: inherit !important;
  }

  .cell-mandatory {
    background-color: #FFEAA7 !important;
    // text-align: center;
  }

  .mat-step-icon-state-number {
    background-color: #9ba69c !important;

    .ng-star-inserted {
      width: 34px;
      height: 34px;
    }

    .mat-icon {
      display: none;
    }
  }

  .mat-step-icon-selected {
    background-color: #ffffff !important;
    border: 2px #66bb6a solid;

    .mat-icon {
      display: block;
      color: #66bb6a;
    }
  }

  .mat-step-icon {
    width: 34px;
    height: 34px;
  }

  .mat-horizontal-stepper-header {
    &::after {
      top: 24px !important;
      border-top-width: 2px !important;
      width: calc(50% - 17px) !important;
      border-top-color: #9ba69c;
    }

    &::before {
      top: 24px !important;
      border-top-width: 2px !important;
      width: calc(50% - 17px) !important;
      border-top-color: #9ba69c;
    }
  }
}

.handsontable th {
  font-weight: bold !important;
}

.handsontable tr:last-child td {
  font-weight: bold !important;
  background-color: #dfe6e9 !important;
  color: black !important;
}

.handsontable .htAutocompleteArrow {
  display: none;
}

dj-summary {
  .estimate-summary-head {
    background-color: #f2bf10;
    color: #000000;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 3px;
    margin-bottom: 0;
  }

  .handsontable th {
    background-color: #000000;
    border-right: 1px #000000 solid !important;
    color: #ffffff;
  }

  .handsontable {
    tr {
      &:last-child {
        td {
          background-color: #c6e0b4 !important;
          font-weight: 600;

          &:nth-child(1) {
            background-color: #f2bf10 !important;
            color: black !important;
          }
        }
      }

      td {
        border-top: 1px #000000 solid !important;
        border-right: 1px #000000 solid !important;
        border-bottom: 0 !important;

        &:first-child {
          background-color: #222b35;
          color: #f2bf10 !important;
          border-top: 1px #000000 solid !important;
        }
      }
    }
  }
}

.bg-secondary {
  background-color: #dfe6e9 !important;
}

.bg-light-green {
  background-color: green !important;
  color: red;
}



.estimate-summary-card {

  padding: 0px !important;

  h6 {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
    background: #f2bf10;
    margin: 0 0 10px 0;
  }

  .hot-container {
    padding: 0px;
  }

  .wtHider {
    width: 100% !important;
    height: auto !important;

    .wtSpreader {
      width: 100% !important;
    }

    .htCore {
      width: 100% !important;
    }
  }
}

.project-details {

  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  .mat-chip {
    width: 90px;
    justify-content: center;
    // background:  blue !important;
    // color: $light-text !important;
  }
}

dj-my-estimates,
dj-my-reviews,
dj-my-approvals {
  .table-container {
    max-height: 56vh;
  }
}

dj-rrd {
  .main-container form .mat-form-field-wrapper {
    margin-bottom: 0px !important;
    padding-bottom: 1rem !important;
  }

}

dj-rrd-table {
  .table-container {
    max-height: 19vh;
  }
}

dj-user-management {
  .table-container {
    max-height: 29vh;
  }
}

dj-initiate-estimate {
  .table-container {
    max-height: 20vh;
  }

  .main-container form .mat-form-field-wrapper {
    margin-bottom: 0px !important;
    padding-bottom: 1rem !important;
  }
}

.table-search {
  .mat-form-field-outline {
    height: 36px !important;
  }

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    top: -2px !important;
  }

  .mat-form-field-label-wrapper {
    margin-top: -7px !important;
    margin-left: 7px !important;
  }

  .mat-form-field-infix {
    .mat-input-element {
      position: relative;
      top: -8px !important;
      left: 8px !important;
    }
  }
}

.bg-pure-black {
  background-color: black !important;
}

.mat-icon {
  display: inline !important;
}

dj-hl-timelines-resources {
  .buttons-row {
    button {
      width: 100px;
      margin: 10px 5px;
    }
  }

  .wtHider {
    width: 100% !important;
    height: auto !important;

    .wtSpreader {
      width: 100% !important;
    }

    .htCore {
      width: 100% !important;
    }
  }

  td:nth-last-child(4),
  td:nth-last-child(3),
  td:nth-last-child(2),
  td:nth-last-child(1),
  td:last-child {
    text-align: right !important;
  }
}

dj-assumptions {

  .mat-column-assumptionref {
    max-width: 80px;
  }

  .mat-column-area {
    max-width: 200px !important;
  }

  .table-container {
    max-height: 20vh;
  }

  .mat-column-area,
  .mat-column-assumptionref,
  .mat-column-assumption,
  .mat-column-impact,
  .mat-column-assumption {
    justify-content: start !important;
  }
}

dj-test-scope {
  .handsontable {
    min-width: 900px;
    width: 100%;
  }

  dj-handsontable {
    width: 100%;
  }

  .hot-container {
    max-height: 44vh;
    height: 44vh;
    width: 100%;
    overflow: hidden;
  }

  .wtHider {
    width: 100% !important;
    height: auto !important;

    .wtSpreader {
      width: 100% !important;
    }

    .htCore {
      width: 100% !important;
    }
  }
}
dj-project-details {
  .mat-chip {
    font-size: 0.8rem !important;
    font-weight: bold;
    width: 120px !important;
  }
}
dj-detailed-estimates {
  td:nth-last-child(6),
  td:nth-last-child(5),
  td:nth-last-child(4),
  td:nth-last-child(3),
  td:nth-last-child(2),
  td:nth-last-child(1) {
    text-align: right !important;
  }
  td:nth-last-child(6),
  td:nth-last-child(5),
  td:nth-last-child(4),
  td:nth-last-child(2) {
    background: #ffeaa7 !important;
  }
  td:nth-last-child(3),
  td:nth-last-child(1) {
    background: #dbdad7 !important;
    font-weight: bold !important;
  }
}

.handsontable.listbox tr td {
  background: #ffeaa7 !important;
  font-weight: normal !important;
  text-align: left !important;
}

.handsontable.listbox tr td:hover {
  background: lightgray !important;
  font-weight: bold !important;
}

.handsontable .htRight {
  text-align: right !important;
}

.handsontable .htLeft {
  text-align: left !important;
}

.hot-container {
  max-height: 44vh;
  height: 44vh;
}

