<mat-sidenav-container class="d-flex flex-column example-container bg-ted-light-grey" color="primary" autosize>
  <mat-sidenav  [mode]="sideNavMode" [opened]="sideNavOpen">
    <mat-nav-list>
      <mat-list-item routerLinkActive="active" [routerLink]="['/AllEstimates']">
        <mat-icon>rate_review</mat-icon>
        <span *ngIf="changeText" class="mx-2">All Estimates</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLinkActive="active" [routerLink]="['/MyReviews']">
        <mat-icon>visibility</mat-icon>
        <span *ngIf="changeText" class="mx-2">My Estimates</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="currentUser.role !== 'User'" routerLinkActive="active" [routerLink]="['/MyApprovals']">
        <mat-icon>thumb_up</mat-icon>
        <span *ngIf="changeText" class="mx-2">My Approvals</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="currentUser.role === 'Admin'" routerLinkActive="active" [routerLink]="['/RRD']">
        <mat-icon>settings</mat-icon>
        <span *ngIf="changeText" class="mx-2">Resources, Rates & Domains</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="currentUser.role === 'Admin'" routerLinkActive="active" [routerLink]="['/User']">
        <mat-icon>verified_user</mat-icon>
        <span *ngIf="changeText" class="mx-2">User Security</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLinkActive="active" [routerLink]="['/UserProfile']">
        <mat-icon>person</mat-icon>
        <span *ngIf="changeText" class="mx-2">User Profile</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content class="bg-ted-light-grey">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>