<div class="main-layout p-4">
    <div>
        <h4>User Security</h4>
    </div>
    <div class="d-flex flex-column bg-white main-container">
        <div class="d-flex flex-column bg-white">
            <form
                [formGroup]="userFormgroup"
                class="main-container__custom-from"
                (submit)="openDialogGrantAcc(userFormgroup.value)"
            >
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <mat-form-field class="w-100">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="Placeholder" [errorStateMatcher]="errorMatcher" formControlName="firstName" />
                            <mat-error
                            *ngIf="
                            userFormgroup.controls['firstName']
                                .errors &&
                              (userFormgroup.controls['firstName']
                                .dirty ||
                                userFormgroup.controls['firstName']
                                  .touched)
                            "
                          >
                            <mat-error
                              *ngIf="
                              userFormgroup.controls['firstName']
                                  .errors.required
                              "
                            >
                              First Name is required.
                            </mat-error>
                          </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <mat-form-field class="w-100">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Placeholder" [errorStateMatcher]="errorMatcher" formControlName="lastName" />
                            <mat-error
                            *ngIf="
                            userFormgroup.controls['lastName']
                                .errors &&
                              (userFormgroup.controls['lastName']
                                .dirty ||
                                userFormgroup.controls['lastName']
                                  .touched)
                            "
                          >
                            <mat-error
                              *ngIf="
                              userFormgroup.controls['lastName']
                                  .errors.required
                              "
                            >
                              Last Name is required.
                            </mat-error>
                          </mat-error>
                        
                        </mat-form-field>

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label>Email ID</mat-label>
                            <input matInput placeholder="Placeholder"  formControlName="email" [email]="true"  />
                            <mat-error
                            *ngIf="
                            userFormgroup.controls['email']
                                .errors &&
                              (userFormgroup.controls['email']
                                .dirty ||
                                userFormgroup.controls['email']
                                  .touched)
                            "
                          >
                            <mat-error
                              *ngIf="
                              userFormgroup.controls['email']
                                  .errors.required
                              "
                            >
                              Email is required.
                            </mat-error>
                            <mat-error
                            *ngIf="
                            userFormgroup.controls['email']
                                .errors.email
                            "
                          >
                            Enter a Valid Email.
                          </mat-error>
                          </mat-error>
   
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label>Project Role</mat-label>
                            <mat-select formControlName="groupName">
                                <mat-option *ngFor="let group of userGroupNames" [value]="group">
                                    {{ group }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- <div class="col-6">
            <mat-form-field class="w-100">
              <mat-label>Portal Role</mat-label>
              <mat-select formControlName="role">
                <mat-option *ngFor="let user of allUsers" [value]="user.role">
                  {{ user.role }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label>Portal Role</mat-label>
                            <mat-select formControlName="role">
                                <mat-option *ngFor="let role of portalRoles" [value]="role">
                                    {{ role }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-flex px-2 justify-content-end">
                    <button type="reset" class="m-2" (click)="cancel()" mat-raised-button color="accent">
                        Cancel
                    </button>
                    <button
                        type="submit"
                        [disabled]="!userFormgroup.valid"
                        class="m-2"
                        mat-raised-button
                        color="primary"
                    >
                    {{editflag?"Update":"Add"}}
                    </button>
                </div>              
            </form>
        </div>
        <div class="d-flex px-2 justify-content-start">
          <mat-form-field appearance="outline" class="col-md-3 table-search col-sm-12">
            <mat-label>Search</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event.target.value)" [formControl]="searchFormControl" />
            <mat-icon matSuffix (click)="clearSearch()">close</mat-icon>
        </mat-form-field>
        </div>
        <div class="table-container">
            <table class="usee-security-table" mat-table [dataSource]="dataSource" matSort>
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ columnHeaders[i] }}</th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="column !== 'actions'">{{ element[column] }}</span>
                        <span
                            class="action-items"
                            *ngIf="column === 'actions' && element['estmation_status'] !== 'Completed'"
                        >
                            <mat-icon (click)="editUsers(element)">edit</mat-icon>
                            <mat-icon (click)="openDialog(element)">delete</mat-icon>
                        </span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                <tr
                    (mouseover)="row.actions = true"
                    (mouseout)="row.actions = false"
                    mat-row
                    *matRowDef="let row; let odd = odd; columns: displayedColumns"
                    [ngClass]="{'bg-ted-light-grey-table': odd}"
                ></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
