<form
  class="pb-5 align-self-md-center align-self-lg-center align-self-sm-start mt-5 d-flex flex-column w-50"
  [formGroup]="userSignUpForm"
  (submit)="resetPassword()"
>
  <div class="text-dark">
    <h2>Create Password</h2>
  </div>
  <mat-form-field class="my-3">
    <input
      type="password"
      matInput
      placeholder="Password"
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />

    <mat-hint
      >The string must contain atleast 1 lowercase and 1 uppercase alphabetical
      character, 1 numeric character, 1 special character and must be eight
      characters or longer
    </mat-hint>
    <mat-error *ngIf="userSignUpForm.get('password').hasError('pattern')">
      The string must contain atleast 1 lowercase and 1 uppercase alphabetical
      character, 1 numeric character, 1 special character and must be eight
      characters or longer
    </mat-error>
    <mat-error *ngIf="userSignUpForm.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="mt-3">
    <input
      matInput
      placeholder="Confirm Password"
      [type]="hide ? 'password' : 'text'"
      formControlName="confirmPassword"
    />
    <mat-icon matSuffix color="primary" (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
    <mat-error
      *ngIf="
        userSignUpForm.hasError('passwordsDoNotMatch') &&
        !userSignUpForm.get('confirmPassword').hasError('required')
      "
    >
      Passwords do not match
    </mat-error>
    <mat-error
      *ngIf="userSignUpForm.get('confirmPassword').hasError('required')"
    >
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button
    [disabled]="!userSignUpForm.valid"
    type="submit"
    mat-raised-button
    color="primary"
    class="text-white"
  >
    Create password
  </button>
  <!-- <button type="button" mat-raised-button class="my-3 color-ted-green" (click)='signUpPage()'>Sign up</button> -->
</form>
