@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
$ted-green: #66bb6a;
$ted-sky-blue: #22bcef;
$ted-blue:#3f51b5;
$colors: map-merge($colors, ("ted-green":$ted-green, "ted-sky-blue":$ted-sky-blue, "ted-blue":$ted-blue));
$primary: $ted-green;
$ted-grey:#8d8f8d;
$ted-light-grey: #d1ebd2;
$theme-colors: map-merge($theme-colors, ("primary": $ted-green));
@import "~bootstrap/scss/bootstrap";