<div class="d-flex justify-content-center align-self-center">
  <mat-card class="mt-3 card-width">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="d-flex flex-column align-items-center">
          <img
            *ngIf="!model.pic"
            src="../../../../../../../assets/img/avthar.jpg"
            class="rounded-circle"
            width="150"
            height="150"
            (click)="fileInput.click()"
          />
          <img
            *ngIf="model.pic"
            [src]="model.pic"
            class="rounded-circle"
            width="150"
            height="150"
            (click)="fileInput.click()"
          />
          <input
            hidden
            (change)="choosePicture($event)"
            accept="image/*"
            #fileInput
            type="file"
            id="file"
          />
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <h4>
          <div class="d-flex">
            <span class="text-secondary pr-3"
              >{{ model.firstName }} {{ model.lastName }}</span
            >
            <mat-icon
              *ngIf="!isEdit"
              (click)="isEdit = true; disablebtn = false"
              >edit</mat-icon
            >
            <mat-icon *ngIf="isEdit" (click)="isEdit = false; disablebtn = true"
              >close</mat-icon
            >
          </div>
        </h4>

        <div class="row" *ngIf="isEdit">
          <div class="col-12">
            <mat-form-field class="form-align-field">
              <input
                matInput
                placeholder="First Name"
                name="firstname"
                [(ngModel)]="model.firstName"
                #firstname="ngModel"
              />
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="form-align-field">
              <input
                matInput
                placeholder="Last Name"
                name="lastname"
                [(ngModel)]="model.lastName"
                #lastname="ngModel"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">{{ model.email }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <span
              ><strong class="text-muted">Group : </strong>
              {{ model.groupName }}</span
            >
          </div>
          <div class="col-6">
            <span
              ><strong class="text-muted">Role : </strong>
              {{ model.role }}</span
            >
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-12">
            <mat-form-field class="form-align-field">
              <input
                [type]="currentHide ? 'password' : 'text'"
                matInput
                placeholder="Current Password"
                name="currentpassword"
                (keyup)="validatePassword()"
                [(ngModel)]="passwordModel.currentPassword"
                #currentpassword="ngModel"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="currentHide = !currentHide"
              >
                <mat-icon>{{
                  currentHide ? "visibility" : "visibility_off"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="form-align-field">
              <input
                [type]="newPasswordHide ? 'password' : 'text'"
                matInput
                placeholder="New Password"
                name="newpassword"
                (keypress)="newPasswordChage()"
                [(ngModel)]="passwordModel.newPassword"
                #newpassword="ngModel"
                [disabled]="disablePassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="newPasswordHide = !newPasswordHide"
              >
                <mat-icon>{{
                  newPasswordHide ? "visibility" : "visibility_off"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="form-align-field">
              <input
                [type]="confirmHide ? 'password' : 'text'"
                matInput
                placeholder="Confirm Password"
                name="confirmpassword"
                (keyup)="comparePassword()"
                [(ngModel)]="passwordModel.confirmPassword"
                #confirmpassword="ngModel"
                [disabled]="disablePassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="confirmHide = !confirmHide"
              >
                <mat-icon>{{
                  confirmHide ? "visibility" : "visibility_off"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="offset-4 col-4">
            <button mat-raised-button (click)=onCancel()>Cancel</button>
          </div>
          <div class="col-4">
            <button
              mat-raised-button
              color="primary"
              [disabled]="disablebtn"
              (click)="updateProfile()"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
