.form-align-field {
  width: 100%;
}
@media (min-width: 576px) {
  .card-width {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-width {
    width: 75%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-width {
    width: 50%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-width {
    width: 50%;
  }
}
